{% comment %}
  SPDX-FileCopyrightText: (C) 2026 dffdff2423 <dffdff2423@gmail.com>

  SPDX-License-Identifier: GPL-3.0-only
{% endcomment %}
<!DOCTYPE html>
{% from "macros" import meta, fmt_data_field, conventions %}
<html lang="en_us" >
    {{ meta() }}

{% if github_slug != blank %}
    <title>{{ curr_ty.FullName }}: {{ github_slug }}</title>
{%  else %}
    <title>{{ curr_ty.FullName }}</title>
{% endif %}
<body>
    <!--suppress HtmlUnknownTarget -->
    <a href="./index.html">Return Home</a>

    <h1>{{ curr_ty.FullName }}</h1>
    {% if curr_ty.SuperTypeFullName != "System.Object" %}
    <h3>Parent: <a href="./{{ curr_ty.SuperTypeFullName | url_encode }}.html">{{ curr_ty.SuperTypeFullName }}</a></h3>
    {% endif %}
    <div class="docs" >{{ curr_ty.Docs | format_docs }}</div>
    <ul class="yaml-type">
        {% for field in curr_ty.DataFields %}
            {{ fmt_data_field(field) }}
        {% endfor %}
    </ul>

    {{ conventions() }}
</body>
</html>
