{% comment %}
  SPDX-FileCopyrightText: (C) 2026 dffdff2423 <dffdff2423@gmail.com>

  SPDX-License-Identifier: GPL-3.0-only
{% endcomment %}
<!DOCTYPE html>
{% from "macros" import meta, fmt_data_field, conventions %}
<html lang="en_us" >
    {{ meta() }}

{% if github_slug != blank %}
    <title>{{ curr_ty.KindId }}: {{ github_slug }}</title>
{%  else %}
    <title>{{ curr_ty.KindId }}</title>
{% endif %}
<body>
    <!--suppress HtmlUnknownTarget -->
    <a href="./index.html">Return Home</a>

    <h1>{{ curr_ty.KindId }}</h1>

    {% comment %}
    TODO: Support generating links to source code. This turned out to be harder than I expected.
    {% endcomment %}
    <b>CSharp Name</b>: <span class="inlinecode" >{{ curr_ty.FullName }}</span>

    <div class="docs" >{{ curr_ty.Docs | format_docs }}</div>
    <ul class="yaml-type">
        <li><span class="required">type</span>: {{ curr_ty.KindId }}</li>
        {% for field in curr_ty.DataFields %}
            {{ fmt_data_field(field) }}
        {% endfor %}
    </ul>

    {{ conventions() }}
</body>
</html>
